:root {
  font-size: 62.5%;

  --bg-color: #121214;
  --base-color: 194;
  --bg-primary-light: hsla(var(--base-color), 100%, 63%, 0.13);
  --primary-color: hsl(var(--base-color), 100%, 63%);
  --primary-color-hover: hsl(var(--base-color), 100%, 40%);
  --secondary-color-hover: hsl(0, 0%, 80%);
  --text-color: #fff;
  --bg-form-button: #ccc;
  --tt-label: #000;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
  font-family: "Roboto", sans-serif;
  display: grid;
  min-height: 100vh;
}

nav {
  align-self: start;
  justify-self: end;
  padding: 3.2rem 5rem 0 0;
}

main {
  justify-self: center;
  align-self: start;
  display: flex;
  flex-direction: column;
  align-items: center;
}

footer {
  align-self: self-end;
  justify-self: end;
  padding: 0 2rem 8rem 0;
}

#timer {
  display: flex;
  font-size: clamp(4rem, 4rem + 10vw, 8.8rem);
  margin-bottom: 1.6rem;
}

#controls {
  background-color: var(--bg-primary-light);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 9999px;
  gap: 3.2rem;
  width: clamp(10rem, 10rem + 30vw, 22.8rem);
  height: clamp(8rem, 5rem + 10vw, 10.8rem);
}

.play svg path,
.pause svg path,
.sound-on svg path {
  fill: var(--primary-color);
  transition: fill 200ms;
}

.play:hover svg path,
.pause:hover svg path,
.sound-on:hover svg path {
  fill: var(--primary-color-hover);
}

.sound-off svg path,
.stop svg path,
.set svg path {
  transition: fill 200ms;
}

.sound-off:hover svg path,
.stop:hover svg path,
.set:hover svg path {
  fill: var(--secondary-color-hover);
}

.play,
.pause,
.set,
.sound-off,
.sound-on,
.stop,
.config,
.modal-wrapper button
 {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.config {
    color: #ccc;
    font-size: 1.6rem;
    font-weight: 700;
    transition: color 200ms;
}

.config:hover {
  color: #cccccccb;
}

.play svg,
.pause svg,
.set svg,
.sound-off svg,
.sound-on, svg
.stop svg
{
  width: clamp(3.2rem, 2rem + 12vw, 6.4rem);
}

.hide {
  display: none;
}

.card {
  background-color: #fff;
  padding: 4.8rem 3.4rem 3.4rem;
  max-width: 42.8rem;
  margin-inline: auto;
  box-shadow: 0 0.2rem 0.4rem rgba(0, 0, 0, 0.1);
  border-radius: 0.6rem;
}

.modal-wrapper {
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.7);
  display: grid;
  place-content: center;
  opacity: 0;
  visibility: hidden;
}

.modal-wrapper.open {
  opacity: 1;
  visibility: visible;
}

.modal {
  position: relative;
}

input,
.modal-wrapper button {
  font-size: 1.6rem;
}

.input-wrapper + .input-wrapper {
  margin-top: 1rem;
}

.input-wrapper label
{
  color: var(--tt-label);
  font-size: 1.6rem;
}

.input-wrapper input {
  width: 100%;
}

.modal-wrapper button {
  padding: 1rem;
  border-radius: 0.8rem;
  background-color: var(--bg-form-button);
  width: 100%;
  margin-top: 2rem;
}

@media (min-width: 700px) {
  footer {
    padding: 0 4rem 3.2rem 0;
  }
}


.bg-color {
  background-color: var(--primary-color);
  width: 100%;
  height: 25px;
}
